.layout {
  margin: 0 auto;
  max-width: 768px;
  min-width: 320px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 400px) {
  .layout {
    padding: 1rem 0rem; /* Reduced padding for smaller screens */
  }
}
