@use "src/styles/variables.scss";

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; // makes the threads go out of the screen instead of scaling down
}

body {
  background-color: variables.$backgroundColor;
  color: variables.$textColor;
  font-family: "Comfortaa", sans-serif;
  font-size: smaller;
}

@media (max-width: 321px) {
  body {
    overflow-x: auto; /* set the scrollbar */
  }
}
